<h1> Operations of <%= @month.name %> of <%= @year.name %> </h1>
<table>
  <thead>
    <th> Operation Name </th>
  </thead>
  <tbody>
    <% @operations.each do |operation| %>
    <tr>
      <td> <%=link_to "#{operation.name}", operation_path(operation) %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
