<h1> Latest Recruitment Contacts </h1>
<table>
  <thead>
    <th> Name </th>
    <th> Contacted By </th>
    <th> Conversation Type </th>
    <th> Timezone </th>
  </thead>
  <tbody>
    <% @latest_contacts.each do |contact| %>
    <tr>
      <td> <%=link_to "#{contact.name}", recruit_contact_path(contact) %> </td>
      <td> <%= contact.found_by %> </td>
      <td> <%= contact.conversation_type %> </td>
      <td> <%= contact.timezone %> </td>
    </tr>
    <% end %>
  </tbody>
</table>

