<h1> Role: <%= @role.name %> </h1>

<div class="role__details">
  <div class="role__details-description">
    Description: <%= @role.description %>
  </div>
  <div class="role__details-hierarchy-ranking">
    Hierarchy Ranking: <%= @role.hierarchy_ranking %>
  </div>
</div>



