<div class="mission-group">
  <%= form_tag mission_groups_path do %>
    <%= render "shared/error_messages", :target => @mission_group %>
    <%= text_field_tag 'name', nil, placeholder: "Name" %>
    <%= submit_tag "Create Mission Group" %>
  <% end %>
</div>
