/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require dataTables/jquery.dataTables
 *= require_self
 *= require s3_direct_upload_progress_bars
 *= require jquery-ui/datepicker
 */

/* Color Scheme: http://paletton.com/#uid=1000u0kp92qgi6CkB45ut1cKp0i
*/
.alert {
  background-color: red;
}

body {
  color: white;
  background: #4c4c4c; /* Old browsers */
  background: -moz-linear-gradient(left, #131313, #131313, #1c1c1c, #1c1c1c, #1c1c1c, #1c1c1c, #1c1c1c, #131313, #131313); /* FF3.6+ */

  background: -webkit-linear-gradient(left, #131313, #131313, #1c1c1c, #1c1c1c, #1c1c1c, #1c1c1c, #1c1c1c, #131313, #131313);

  background: linear-gradient(to right, #131313, #131313, #1c1c1c, #1c1c1c, #1c1c1c, #1c1c1c, #1c1c1c, #131313, #131313); /* W3C */
}

a {
 color: orange;
 text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

