// Place all the styles related to the Doctrine controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.doctrine {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
}

.doctrine-description {
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
}

.doctrine-list {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
}

.doctrine__fitting-index {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
}
